@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

.browse-main {
    flex-grow: 1;
}

.browse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.favorite-title {
    margin-top: 50px;
    font-weight: 600;
    font-size: 40px;
    color: #4D6B3B;
    font-family: Cormorant;
}


.product-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product-card {
    background-color: transparent;
    transition: transform 0.2s;
    text-decoration: none;
    display: block;
    color: inherit;
}

.product-card:hover {
    transform: translateY(-5px);
}


.product-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 10px;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 5px;
    font-size: 16px;
    color: #004C13;
    font-family: Cormorant;
}

.product-name {
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
}

.favorite-icon {
    cursor: pointer;
    color: #004C13;
    font-size: 14px;
}

.empty-text {
    text-align: center;
    margin-top: 50px;
    font-family: Cormorant;
    grid-column: 1 / -1;
}
