{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet"
    href="{{ url_for('static', filename='css/home.css') }}" />
<link rel="icon" type="image/x-icon"
    href="{{ url_for('static', filename='css/image/icon/iconGreenery.ico') }}">
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap"
    rel="stylesheet" />
<link
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap"
    rel="stylesheet" />
{% endblock %}

{% block content %}
<section class="fade-in-bottom">
    <div class="home-background">
        <div class="home-text">
            <h3 class="welcome">
                Welcome, {{
                user.username }} !
            </h3>
            <p class="description">Get yourself a plant</p>
        </div>
    </div>
</section>
{% endblock %}