@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Prata&family=Cormorant+Garamond&display=swap');

/* General styles */

body {
    font-family: 'Cormorant Garamond', serif;
    background-color: #FFFDED;
    color: #004C13;
    margin: 0;
    padding-top: 70px;

}

/* Navbar styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3% 2%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #f0f0e0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.logo {
    font-size: 90px;
    font-family: 'Long Cang';
    font-weight: 100;
    color: #4D6B3B;
    text-decoration: none;
}

.logo:hover {
    color: #76A25C;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #004C13;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 650;
    letter-spacing: 0.5px;
}

.nav-links a:hover {
    color: #76A25C;
}

.nav-icons {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.nav-icons a {
    text-decoration: none;
    color: #004C13;
}

.nav-icons a:hover {
    color: #76A25C;
}

.content-wrapper {
    padding: 40px 5%;
}

/* Footer styles */


/* Home Page styles */

.home-background {
    background-image: url('../images/homeBG.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
}

.welcome {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 50;
    font-size: 120px;
    margin-bottom: -10px;
}

.description {
    font-family: 'Cormorant Garamond', serif;
    color: #FBFBF3;
    font-weight: 35;
    font-style: italic;
    font-size: 35px;
    padding: 0 20px;
    margin-bottom: -10px;

}

.home-text {
    text-align: left;
    padding: 300px 95px;
}

/* Contact Page Styles */

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}

.info-card, .form-card {
    background-color:#4D6B3B;
    border-radius: 40px;
    color: #FFFFFF;
    padding: 100px;
}

.info-card {
    flex: 1;
    max-width: 400px;
}
.info-card h2 {
    font-size: 3.5rem;
    margin-top: -10px;
    margin-bottom: 30px;
    text-align: center;
}

.info-card p {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.info-card .detail {
    margin-left: 34px; 
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 20px;
    display: block;
}

.form-card {
    flex: 2;
    max-width: 600px;
}

.form-card h1 {
    font-size: 3.5rem;
    margin-top: 0;
    letter-spacing: 2px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.input-group label {
    font-style: italic;
    margin-bottom: 8px;
    font-size: 1.2rem;
}
.input-group input, .input-group textarea {
    background-color: #D9D9D9;
    border: none;
    border-radius: 15px;
    padding: 12px;
    font-size: 1.2rem;
    font-family: inherit;
}

.submit-btn {
    background-color:#003121;
    font-family: 'Prata', serif;
    color: white;
    border: none;
    padding: 12px 45px;
    border-radius: 15px;
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: inherit;
    margin-top: 20px;
    
}
.submit-btn:hover {
    background-color: #007B53;
}


/* Confirmation Pages */

.confirm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.confirm-card {
    background-color: white;
    border: 3px solid #004C13; 
    border-radius: 50px;
    padding: 150px 200px;
    text-align: center;
    max-width: 700px;
    width: 90%;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.9);
}

.confirm-card h1 {
    color: #004C13;
    font-size: 3.3rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.confirm-text {
    color: #004C13;
    font-size: 1.5rem;
    font-weight: 450;
    line-height: 0.6;
    margin-bottom: 40px;
}

.browse-btn {
    display: inline-block;
    background-color: #003121;
    color: white;
    text-decoration: none;
    padding: 15px 60px;
    border-radius: 30px;
    font-size: 1.3rem;
    font-family: 'Prata', serif;
}

.browse-btn:hover {
   background-color: #007B53;
}